@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Main.cshtml";
    User user = (User)ViewData["User"];
    List<DownloadItem> items = (List<DownloadItem>)ViewData["Items"];
    List<User> users = (List<User>)ViewData["Users"];
}
<div id="container">
    <!-- main container starts-->
    <div id="wrapp">
        <!-- main wrapp starts-->

        <div id="content">
            <div id="breadcrumb">
                <!-- breadcrumb starts-->
                <div class="container">
                    <div class="one-half">
                        <h4>资源共享</h4>
                    </div>
                    <div class="one-half">
                        <nav id="breadcrumbs">
                            <!--breadcrumb nav starts-->
                            <ul>
                                <li>你的位置:</li>
                                <li><a href="/Main/Index">首页</a></li>
                                <li>资源共享</li>
                            </ul>
                        </nav>
                        <!--breadcrumb nav ends -->
                    </div>
                </div>
            </div>
            <!--breadcrumbs ends -->
            <div class="container">
                <ul id="filterable">
                    <li><a id="all" data-categories="all">下载首页</a></li>
                    <li><a id="my-upload" data-categories="my_upload">我的上传</a></li>
                    <li><a id="upload-file" data-categories="upload_file">上传</a></li>
                </ul>
                <form action="/Download/UploadFile" method="post" enctype="multipart/form-data">
                    <ul id="portfolio-container" class="four-columns">
                        @for (int i = 0; i < items.Count; i++)
                        {
                            <li class="isotope-item" data-categories="all @(items[i].UserId == user.Id? "my_upload":"")">
                                <div class="item-wrapp">
                                    <div class="portfolio-item">
                                        <a href="#" class="item-permacenter"><i class="fa fa-download"></i></a>
                                        @if (items[i].UserId == user.Id)
                                        {
                                            <a href="#" class="item-preview"><i class="fa fa-trash"></i></a>
                                        }
                                        <img src="@items[i].ImgUrl" alt="" />
                                    </div>
                                    <div class="portfolio-item-title">
                                        <a href="#">@items[i].Title</a>
                                        <p>@items[i].Tag</p>
                                        <img src="@(string.IsNullOrEmpty(users[i].UserImgURL)?"~/data/image/user.png":users[i].UserImgURL)" alt="" style="width: 20px;height:20px">
                                        <span>@users[i].Nick</span>
                                        <span>@Programming.Server.Transform.SizeToString(items[i].Size)</span>
                                        <span><i class="fa fa-download"></i>@items[i].DownloadCount</span>
                                    </div>
                                </div>
                            </li>
                        }

                        <li class="isotope-item" data-categories="upload_file ">
                            <div class="upload">
                                <div class="upload-files">
                                    <header>
                                        <p>
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <span class="up">up</span>
                                            <span class="load">load</span>
                                        </p>
                                    </header>
                                    <div class="body" id="drop">
                                        <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
                                        <p class="pointer-none">
                                            <b>拖放到这里</b> files here <br /> or <a href="" id="triggerFile">浏览</a>开始上传
                                        </p>
                                        <input type="file" name="file" />
                                    </div>
                                    <footer>
                                        <div class="divider">
                                            <span>
                                                <AR>FILES</AR>
                                            </span>
                                        </div>
                                        <div class="list-files">
                                            <!--   template   -->
                                        </div>
                                        <button class="importar">UPDATE FILES</button>
                                    </footer>
                                </div>
                            </div>
                        </li>
                        <li class="isotope-item" data-categories="upload_file">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">资源名称</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="圆角效果" name="title" value="@(ViewData["Parameter"] != null ? ((Programming.Utils.UploadFileParameter)ViewData["Parameter"]).Title:"")" />
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">资源类型</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="type" value="@(ViewData["Parameter"] != null ? ((Programming.Utils.UploadFileParameter)ViewData["Parameter"]).Type.ToString().ToLower():"")">
                                    <option value="tool">工具</option>
                                    <option value="doc">文档</option>
                                    <option value="code">代码</option>
                                    <option value="media">影音</option>
                                    <option value="other">其他</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">标签</label>
                                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="爬虫 / Python / pdf" name="tag" value="@(ViewData["Parameter"] != null ? ((Programming.Utils.UploadFileParameter)ViewData["Parameter"]).Tag:"")" />
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">资源描述</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="describe">@(ViewData["Parameter"] != null ? ((Programming.Utils.UploadFileParameter)ViewData["Parameter"]).Describe:"")</textarea>
                            </div>
                            <button class="btn btn-info" type="submit">提交</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- main wrapp starts-->
</div>
<!-- main container ends-->
